.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}

/* above is css that was initially created */


.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.App-header {
  margin-top: 10px;
  padding-top: 20px;
}